.background {
  width: 100%;
  /* height: 100vh; */
  background-image: linear-gradient(to top right, green, yellow);
}

.profileImg {
  border-radius: 400px;
  width: 350px;
  margin: -80px 50px 0 50px;
}

.flex {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.aboutPara {
  margin: 0;
  padding: 0 50px 0 50px;
  max-width: 750px;
  font-family: "Rubik", sans-serif;
  font-size: 1.5rem;
  text-align: center;
}

.background h1 {
  padding: 70px 0 32px 0;
  margin: 0;
}

.quote {
  font-family: "Caveat", cursive;
  text-align: center;
  margin: 2rem 1rem 1rem 1rem;
  font-size: 3rem;
  width: 350px;
}

.paraWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ratingImg {
  width: 350px;
  align-self: flex-end;
  margin: 20px 0 20px 0;
}

@media screen and (max-width: 960px) {

  .ratingImg {
    align-self: inherit;
  }

  .background {
    height: auto;
  }

  .flex {
    flex-wrap: wrap;
  }
  .profileImg {
    margin: 40px 5px 40px 5px;
  }

  .profileWrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .profileWrap p {
    align-self: center;
  }
}
