.background {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to top right, green, yellow);
}

.background h1 {
  margin: 0;
  padding-top: 100px;
  padding-bottom: 30px;
  margin: auto;
  width: 70vw;
  font-family: "Rubik", sans-serif;
  font-size: 3.5rem;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel img {
  border-radius: 20px;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

.foodImg {
  height: 500px;
  animation-name: fade;
  animation-duration: 3s;
  /* position: absolute; */
}

.hidden {
  /* position: absolute; */
  display: none;
}

@keyframes carousel {
}

/* remove button default styles */

.navigateLeft,
.navigateRight {
  position: absolute;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.navigateLeft {
  left: 250px;
}

.navigateRight {
  right: 250px;
}

.navigateLeft img,
.navigateRight img {
  width: 50px;
  border-radius: 30px;
  box-shadow: 5px 5px 10px #000;
}

@media screen and (max-width: 870px) {
  .foodImg {
    height: auto;
    width: 500px;
  }
}

@media screen and (max-width: 500px) {
    .foodImg {
    height: auto;
    width: 100%;
  }
}