.footer {
    width: 100vw;
    background-color: #008f00;
    text-align: center;
    padding: 10px;
}

.footer p {
    color: #fff;
    font-size: 1.2rem;
    margin: 0;
}

.star {
    width: 20px;
    margin-left: 5px;
}

.rating {
    margin-top: 8px;;
}

.rating p {
    display: inline-block;
    vertical-align: baseline;
    margin-right: 8px;
    font-size: 1.2rem;
}