.loginScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vw;
    z-index: 5;
    background-color: #fff;
}

.loginScreen h1 {
    margin-top: 100px;
}

.loginScreen form {
    text-align: center;
    width: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hidden {
    display: none;
}