.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  background-color: #008f00;
  display: flex;
  justify-content: space-between;
}

.navbar ul {
  display: flex;
  justify-content: left;
  gap: 10px;
  list-style-type: none;
  width: 100vw;
  margin: 0;
  padding: 13px;
  width: 300px;
}

.navbar ul li {
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-weight: 800;
  font-size: 1.1rem;
  padding: 8px;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 5px;
  margin-right: 15px;
}

.navbar ul li:first-child {
  margin-left: 50px;
}

.navbar ul li:hover {
  box-shadow: 4px 4px 5px #000;
}

.allergensBtn {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  margin-right: 50px;
}

.allergensBtn div {
  padding: 10px;
  background-color: rgb(177, 177, 74);
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-weight: 800;
  box-shadow: 5px 5px 5px #000;
  border-radius: 50px;
}