.background {
  width: 100%;
  /* height: 100vh; */
  background-image: linear-gradient(to bottom right, green, yellow);
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.background h1 {
    margin: 0;
    padding-top: 5.5rem;
    padding-bottom: 1.5rem;;
}

.pattiesImg {
  margin: 1.5rem;
  border-radius: 20px;
  height: fit-content;
}

.text {
    width: 60%;
    max-width: 850px;;
}

.text p {
  margin: 0 3rem 0 3rem;
  font-size: 1.3rem;
  font-family: "Rubik", sans-serif;
}

.bulk {
  margin-left: 3rem;
}